{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block test %}
    <div class="panel-succes register-block">
        <div class="title-block">
            <h2 class="login-title register">{{ 'title_user_registration'|trans({}, 'SonataUserBundle') }}</h2>
        </div>
        <div class="panel-body">
            <!--<div class="social-block">
            <h4 class="social-title">Vous n'avez pas de compte ? <br>Connectez-vous avec :</h4>
            <div class="block-social-btn">
            <a href="" class="facebook-btn" title="Permet de vous enregistrer avec votre compte Facebook">
            <div class="facebook">
            <i class="fa fa-facebook facebook-icon" aria-hidden="true"></i>
            </div>
            </a>
            <p class="or">ou</p>
            <a href="" class="google-btn" title="Permet de vous enregistrer avec votre compte Google">
            <div class="google">
            <i class="fa fa-google" aria-hidden="true"></i>
            </div>
            </a>
            </div>
            </div>
            <h4 class="create-title">CREER UN COMPTE</h4>-->

            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">
                {{ form_errors(form) }}
                {% for choiceFormView in form.userType %}
                <div class="radioChoixUser">
                    {{ form_errors(choiceFormView) }}
                    {{ form_widget(choiceFormView) }}
                    {{ form_label(choiceFormView) }}
                </div>
                {% endfor %}
                {{ form_errors(form.username) }}
                {{ form_widget(form.username,  {'attr': {'class': 'form-control form2', 'placeholder':  'Choissisez votre pseudo *' }}) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email,  {'attr': {'class': 'mail form2', 'placeholder':  'form.email'|trans({}, 'SonataUserBundle') ~' *'}}) }}
                {{ form_errors(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control form2', 'placeholder':  'form.password'|trans({}, 'SonataUserBundle') ~' *' }}) }}
                {{ form_errors(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control form2', 'placeholder':  'Confirmez votre mot de passe *' }}) }}
                <div class="row">
                    <div class="col-md-1">
                        {{ form_errors(form.compact) }}
                        {{ form_widget(form.compact, {'attr': {'disabled': 'disabled'}}) }}
                    </div>
                    <div class="col-md-11">
                        {% include ':front:charte.html.twig' %}
                    </div>
                </div>
                {{ form_rest(form) }}

                <p id="mandatory-field">
                * champs obligatoires.</p>
                <div class="text-center block-btn-register" title="valide la création du compte">
                    <input type="submit" disabled="disabled" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn register-btn" id="submit-register"/>
                </div>
            </form>

        </div>
    </div>
{% endblock %}