<div class="container answer-form">
    <div class="col-md-10">
        <form method="post" action="{{ path('comment_answer', {'id': organization.id, 'comment_id': comment.id}) }}">
            {{ form_start(form) }}
            {{ form_errors(form.author) }}
            {{ form_widget(form.author) }}
            {{ form_errors(form.content) }}
            {{ form_widget(form.content) }}
            <button type="submit" class="btn btn-comment">Envoyer</button>
            {{ form_end(form) }}
        </form>
    </div>
</div>