{% extends 'SonataUserBundle::layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile-05072017.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style-05072017.css') }}">
{% endblock %}

{% block fos_user_content %}
    <div class="head-block"></div>
    <div class="container main-block request-password">
        <div class="panel-body col-md-offset-3 col-md-5">
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                {% if invalid_username is defined %}
                    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                {% endif %}
                <input type="text" id="username" name="username" class="form-control form2" placeholder="{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}" required="required" />
                <button type="submit" class="btn btn-primary pull-right handissimo-button" id="btn-resetting">{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</button>
            </form>
        </div>
    </div>
{% endblock fos_user_content %}