{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des avis des utilisateurs du site Handissimo</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for opinion in opinions %}
            <tr>
                <td><a href="{{ path('opinion_show', { 'id': opinion.id }) }}">{{ opinion.id }}</a></td>
                <td>{{ opinion.firstName }}</td>
                <td>{{ opinion.lastName }}</td>
                <td>{{ opinion.eMail }}</td>
                <td>{{ opinion.message }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('opinion_show', { 'id': opinion.id }) }}">Voir en détail</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('opinion_new') }}">Create a new opinion</a>
        </li>
    </ul>
{% endblock %}
