{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}



{% block table_body %}
    <tbody>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    {% include admin.getTemplate('outer_list_rows_' ~ admin.getListMode()) %}
    {% elseif is_granted('ROLE_ADMIN') %}
    {% for organization in organizations %}
        {% if organization.userOrg is empty %}
            <tr>
                <td><a href="{{ path('organizations_show', { 'id': organization.id}) }}">{{ organization.name }}</a></td>

                <td>{{ organization.address }}</td>
                <td>{{ organization.postal }}</td>
                <td>{{ organization.city }}</td>
                <td>{{ organization.phoneNumber }}</td>
                <td>{{ organization.mail }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('organizations_show', { 'id': organization.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('organizations_edit', { 'id': organization.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% elseif organization.userOrg is defined %}
            {% if organization.userOrg.id == app.security.getToken().getUser().getId()  %}

                <tr>
                    <td><a href="{{ path('organizations_show', { 'id': organization.id}) }}">{{ organization.name }}</a></td>

                    <td>{{ organization.address }}</td>
                    <td>{{ organization.postal }}</td>
                    <td>{{ organization.city }}</td>
                    <td>{{ organization.phoneNumber }}</td>
                    <td>{{ organization.mail }}</td>

                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('organizations_show', { 'id': organization.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('organizations_edit', { 'id': organization.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% endif %}
    </tbody>
{% endblock %}

{% block table_footer %}
{% endblock %}
