{% extends '@SonataUser/Profile/action.html.twig' %}

{% block sonata_profile_content %}
    <div class="title-block">
        <h3 class="title-search">Version supprimée</h3>
    </div>
    <div class="block-current-version">
        {% if result.name %}
            <div class="col-xs-12">
                <p class="label-profile-version">Nom de la structure:</p>
            </div>
            <div class="col-xs-12">
                {{ result.name }}
            </div>
        {% endif %}
        {% if result.society %}
            <div class="col-xs-12">
                <p class="label-profile-version">Nom de l'organisme gestionnaire:</p>
            </div>
            <div class="col-xs-12">
                {{ result.society }}
            </div>
        {% endif %}
        {% if result.address %}
            <div class="col-xs-12">
                <p class="label-profile-version">Adresse:</p>
            </div>
            <div class="col-xs-12">
                {{ result.address }}
            </div>
        {% endif %}
        {% if result.addressComplement %}
            <div class="col-xs-12">
                <p class="label-profile-version">Complément d'adresse:</p>
            </div>
            <div class="col-xs-12">
                {{ result.addressComplement }}
            </div>
        {% endif %}
        {% if result.postal and result.city %}
            <div class="col-xs-12">
                <p class="label-profile-version">Code postal et ville:</p>
            </div>
            <div class="col-xs-12">
                {{ result.postal }} {{ result.city }}
            </div>
        {% endif %}
        {% if result.phoneNumber %}
            <div class="col-xs-12">
                <p class="label-profile-version">Numéro de téléphone:</p>
            </div>
            <div class="col-xs-12">
                {{ result.phoneNumber }}
            </div>
        {% endif %}
        {% if result.mail %}
            <div class="col-xs-12">
                <p class="label-profile-version">Email:</p>
            </div>
            <div class="col-xs-12">
                {{ result.mail }}
            </div>
        {% endif %}
        {% if result.directorName %}
            <div class="col-xs-12">
                <p class="label-profile-version">Nom du responsable:</p>
            </div>
            <div class="col-xs-12">
                {{ result.directorName }}
            </div>
        {% endif %}
        {% if result.website %}
            <div class="col-xs-12">
                <p class="label-profile-version">Site internet:</p>
            </div>
            <div class="col-xs-12">
                {{ result.website }}
            </div>
        {% endif %}
        {% if result.facebook %}
            <div class="col-xs-12">
                <p class="label-profile-version">Compte facebook:</p>
            </div>
            <div class="col-xs-12">
                {{ result.facebook }}
            </div>
        {% endif %}
        {% if result.orgaStructure %}
            <div class="col-xs-12">
                <p class="label-profile-version">Type de structure:</p>
            </div>
            <div class="col-xs-12">
                {{ result.orgaStructure.name }}
            </div>
        {% endif %}
        {% if result.disabilities %}
            <div class="col-xs-12">
                <p class="label-profile-version">Handicap des personnes accompagnées:</p>
            </div>
            <div class="col-xs-12">
                {% for disability in disabilities %}
                    <p class="list-profile">{{ disability.disabilityName }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if result.agemini and result.agemaxi %}
            <div class="col-xs-12">
                <p class="label-profile-version">Âge des personnes accueillies:</p>
            </div>
            <div class="col-xs-12">
                De {{ result.agemini }} ans à {{ result.agemaxi }} ans
            </div>
        {% endif %}
        {% if result.freeplace %}
            <div class="col-xs-12">
                <p class="label-profile-version">Nombre de personnes accompagnées:</p>
            </div>
            <div class="col-xs-12">
                {{ result.freeplace }}
            </div>
        {% endif %}
        {% if result.interventionZone %}
            <div class="col-xs-12">
                <p class="label-profile-version">Zone d'intervention:</p>
            </div>
            <div class="col-xs-12">
                {{ result.interventionZone }}
            </div>
        {% endif %}
        {% if result.organizationDescription %}
            <div class="col-xs-12">
                <p class="label-profile-version">Description de la structure:</p>
            </div>
            <div class="col-xs-12">
                {{ result.organizationDescription|raw }}
            </div>
        {% endif %}
        {% if result.primaryNeeds %}
            <div class="col-xs-12">
                <p class="label-profile-version">Services principaux:</p>
            </div>
            <div class="col-xs-12">
                {% for need in needs %}
                    <p class="list-profile">{{ need.needName }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if result.secondaryNeeds %}
            <div class="col-xs-12">
                <p class="label-profile-version">Services secondaires:</p>
            </div>
            <div class="col-xs-12">
                {% for secondNeed in secondaryNeeds %}
                    <p class="list-profile">{{ secondNeed.needName }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if result.workingDescription %}
            <div class="col-xs-12">
                <p class="label-profile-version">Description des services:</p>
            </div>
            <div class="col-xs-12">
                {{ result.workingDescription|raw }}
            </div>
        {% endif %}
        {% if result.school %}
            {% if result.school == 1 %}
                <div class="col-xs-12">
                    <p class="label-profile-version">Scolarisation:</p>
                </div>
                <div class="col-xs-12">
                    Oui
                </div>
            {% else %}
                <div class="col-xs-12">
                    <p class="label-profile-version">Scolarisation:</p>
                </div>
                <div class="col-xs-12">
                    Non
                </div>
            {% endif %}
        {% endif %}
        {% if result.schoolDescription %}
            <div class="col-xs-12">
                <p class="label-profile-version">Description de l'école:</p>
            </div>
            <div class="col-xs-12">
                {{ result.schoolDescription|raw }}
            </div>
        {% endif %}
        {% if result.dayDescription %}
            <div class="col-xs-12">
                <p class="label-profile-version">Description d'une journée type:</p>
            </div>
            <div class="col-xs-12">
                {{ result.dayDescription|raw }}
            </div>
        {% endif %}
        {% if result.receptionDescription %}
            <div class="col-xs-12">
                <p class="label-profile-version">Description de l'accueil:</p>
            </div>
            <div class="col-xs-12">
                {{ result.receptionDescription|raw }}
            </div>
        {% endif %}
        {% if result.teamMembersNumber %}
            <div class="col-xs-12">
                <p class="label-profile-version">Nombre de personnes dans l'équipe:</p>
            </div>
            <div class="col-xs-12">
                {{ result.teamMembersNumber }}
            </div>
        {% endif %}
        {% if result.medicalJob %}
            <div class="col-xs-12">
                <p class="label-profile-version">Personnel de soins:</p>
            </div>
            <div class="col-xs-12">
                {% for medicalJob in medicalJobs %}
                    <p class="list-profile">{{ medicalJob.jobs }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if result.socialJob %}
            <div class="col-xs-12">
                <p class="label-profile-version">Personnel éducatif et social:</p>
            </div>
            <div class="col-xs-12">
                {% for socialJob in socialJobs %}
                    <p class="list-profile">{{ socialJob.socialJobs }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if result.communJob %}
            <div class="col-xs-12">
                <p class="label-profile-version">Autres métiers:</p>
            </div>
            <div class="col-xs-12">
                {% for otherJob in communJobs %}
                    <p class="list-profile">{{ otherJob.name }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if result.commentStaff %}
            <div class="col-xs-12">
                <p class="label-profile-version">Commentaires sur l'équipe:</p>
            </div>
            <div class="col-xs-12">
                {{ result.commentStaff|raw }}
            </div>
        {% endif %}
        {% if result.openhours %}
            <div class="col-xs-12">
                <p class="label-profile-version">Heures d'ouverture:</p>
            </div>
            <div class="col-xs-12">
                {{ result.openhours }}
            </div>
        {% endif %}
        {% if result.opendays %}
            <div class="col-xs-12">
                <p class="label-profile-version">Jours d'ouverture:</p>
            </div>
            <div class="col-xs-12">
                {% for openDay in result.opendays %}

                    <p class="list-profile">{{ openDay }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if result.opendaysYear %}
            <div class="col-xs-12">
                <p class="label-profile-version">Jours d'ouverture par an:</p>
            </div>
            <div class="col-xs-12">
                {% for openDayYear in result.opendaysYear %}
                    <p class="list-profile">{{ openDayYear }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if result.orientationMdph %}
            {% if result.orientationMdph == 1 %}
                <div class="col-xs-12">
                    <p class="label-profile-version">Notification Mdph:</p>
                </div>
                <div class="col-xs-12">
                    Oui
                </div>
            {% else %}
                <div class="col-xs-12">
                    <p class="label-profile-version">Notification Mdph:</p>
                </div>
                <div class="col-xs-12">
                    Non
                </div>
            {% endif %}
        {% endif %}
        {% if result.inscription %}
            <div class="col-xs-12">
                <p class="label-profile-version">Modalités d'inscription:</p>
            </div>
            <div class="col-xs-12">
                {{ result.inscription|raw }}
            </div>
        {% endif %}
        {% if result.cost %}
            <div class="col-xs-12">
                <p class="label-profile-version">Coût:</p>
            </div>
            <div class="col-xs-12">
                {{ result.cost|raw }}
            </div>
        {% endif %}
        {% if result.transport %}
            <div class="col-xs-12">
                <p class="label-profile-version">Transport:</p>
            </div>
            <div class="col-xs-12">
                {{ result.transport|raw }}
            </div>
        {% endif %}
        {% if result.freeDescription %}
            <div class="col-xs-12">
                <p class="label-profile-version">Information spécifique:</p>
            </div>
            <div class="col-xs-12">
                {{ result.freeDescription|raw }}
            </div>
        {% endif %}
    </div>
    <div class="block-btn-profile">
        <a href="{{ path('handissimo_profile_list_deletion') }}" class="btn btn-default handissimo-button" id="btn-edit-orga">Retour</a>
    </div>
{% endblock %}