{% extends '@SonataUser/Profile/action.html.twig' %}

{% block sonata_profile_content %}
    <div class="title-block">
        <h3 class="title-search">Fiches supprimées</h3>
    </div>
    <div class="block-profil-list">
        <div class="col-md-4 title-column">Nom de la structure</div>
        <div class="col-md-4 title-column">Dernière mise à jour</div>
        <div class="col-md-4 title-column">Utilisateur</div>
        {% for results in pagination %}
            <div class="col-md-4">
                <a href="{{ path('handissimo_profile_detail_deletion', {'id':results.id, 'rev':results.rev}) }}" class="link-about"
                   data-toggle="tooltip" data-placement="bottom" title="{{ results.name }}">
                    {{ results.name|length > 30 ? results.name|slice(0,30)~'...' : results.name }}
                </a>
            </div>
            <div class="col-md-4">
                {{ results.update_datetime|localizeddate }}
            </div>
            <div class="col-md-4">
                {{ results.user }}
            </div>
        {% endfor %}
        <div class="col-xs-12">
            <div class="row navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
    <div class="block-btn-profile">
        <a href="{{ path('handissimo_profile_list_organizations') }}" class="btn btn-default" id="btn-list-home">Retour</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/popover.js') }}"></script>
{% endblock %}