{% extends '@SonataUser/Profile/action.html.twig' %}

{% block sonata_profile_content %}
    <div class="title-block">
        <h3 class="title-search">Liste des structures par contributeur</h3>
    </div>
    <div class="block-profil-list">
        <div class="col-md-6 title-column">Nom de la structure</div>
        <div class="col-md-6 title-column">Dernière mise à jour</div>
        {% for results in pagination %}
            <div class="col-md-6">
                <a href="{{ path('handissimo_profile_detail_contributor', {'id': results.id}) }}" class="link-about"
                   data-toggle="tooltip" data-placement="bottom" title="{{ results.name }}">
                    {{ results.name|length > 30 ? results.name|slice(0,30)~'...' : results.name }}
                </a>
            </div>
            <div class="col-md-6">
                {{ results.updateDatetime|localizeddate }}
            </div>
        {% endfor %}
    </div>
    <div class="col-xs-12">
        <div class="row navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/popover.js') }}"></script>
{% endblock %}