{% extends '@SonataUser/Profile/action.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}"/>
{% endblock %}


    {% block sonata_profile_content %}
    <h1>Différences entre la fiche affiché et la version</h1>
    <h2>Name</h2>
    {% if diff.name.old != null and diff.name.new != null %}
        <p class="old">{{ diff.name.old }}</p>
        <p class="new">{{ diff.name.new }}</p>
    {% else %}
        <p class="same">{{ diff.name.same }}</p>
    {% endif %}
    <h2>adresse</h2>
    {% if diff.address.old != null and diff.address.new != null %}
        <p class="old">{{ diff.address.old }}</p>
        <p class="new">{{ diff.address.new }}</p>
    {% else %}
        <p class="same">{{ diff.address.same }}</p>
    {% endif %}
    <h2>Complément d'adresse</h2>
    {% if diff.addressComplement.old != null and diff.addressComplement.new != null %}
        <p class="old">{{ diff.addressComplement.old }}</p>
        <p class="new">{{ diff.addressComplement.new }}</p>
    {% else %}
        <p class="same">{{ diff.addressComplement.same }}</p>
    {% endif %}
    <h2>postal</h2>
    {% if diff.postal.old != null and diff.postal.new != null %}
        <p class="old">{{ diff.postal.old }}</p>
        <p class="new">{{ diff.postal.new }}</p>
    {% else %}
        <p class="same">{{ diff.postal.same }}</p>
    {% endif %}
    <h2>city</h2>
    {% if diff.city.old != null and diff.city.new != null %}
        <p class="old">{{ diff.city.old }}</p>
        <p class="new">{{ diff.city.new }}</p>
    {% else %}
        <p class="same">{{ diff.city.same }}</p>
    {% endif %}
    <h2>Numéro de téléphone</h2>
    {% if diff.phoneNumber.old != null and diff.phoneNumber.new != null %}
        <p class="old">{{ diff.phoneNumber.old }}</p>
        <p class="new">{{ diff.phoneNumber.new }}</p>
    {% else %}
        <p class="same">{{ diff.phoneNumber.same }}</p>
    {% endif %}
    <h2>Email</h2>
    {% if diff.mail.old != null and diff.mail.new != null %}
        <p class="old">{{ diff.mail.old }}</p>
        <p class="new">{{ diff.mail.new }}</p>
    {% else %}
        <p class="same">{{ diff.mail.same }}</p>
    {% endif %}
    <h2>Site internet</h2>
    {% if diff.website.old != null and diff.website.new != null %}
        <p class="old">{{ diff.website.old }}</p>
        <p class="new">{{ diff.website.new }}</p>
    {% else %}
        <p class="same">{{ diff.website.same }}</p>
    {% endif %}
    <h2>facebook</h2>
    {% if diff.facebook.old != null and diff.facebook.new != null %}
        <p class="old">{{ diff.facebook.old }}</p>
        <p class="new">{{ diff.facebook.new }}</p>
    {% else %}
        <p class="same">{{ diff.facebook.same }}</p>
    {% endif %}
    <h2>Age</h2>
    <p> de :
    {% if diff.agemini.old != null and diff.agemini.new != null %}
        <p class="old">{{ diff.agemini.old }}</p>
        <p class="new">{{ diff.agemini.new }}</p>
    {% else %}
        <p class="same">{{ diff.agemini.same }}</p>
    {% endif %}
    a :
    {% if diff.agemaxi.old != null and diff.agemaxi.new != null %}
        <p class="old">{{ diff.agemaxi.old }}</p>
        <p class="new">{{ diff.agemaxi.new }}</p>
    {% else %}
        <p class="same">{{ diff.agemaxi.same }}</p>
    {% endif %}
    </p>
    <h2>Nombre de place</h2>
    {% if diff.freeplace.old != null and diff.freeplace.new != null %}
        <p class="old">{{ diff.freeplace.old }}</p>
        <p class="new">{{ diff.freeplace.new }}</p>
    {% else %}
        <p class="same">{{ diff.freeplace.same }}</p>
    {% endif %}
    <h2>Description de l'organization</h2>
    {% if diff.organizationDescription.old != null and diff.organizationDescription.new != null %}
        <div class="old">{{ diff.organizationDescription.old|raw }}</div>
        <div class="new">{{ diff.organizationDescription.new|raw }}</div>
    {% else %}
        <div class="same">{{ diff.organizationDescription.same|raw }}</div>
    {% endif %}
    <h2>Heure d'ouverture</h2>
    {% if diff.openhours.old != null and diff.openhours.new != null %}
        <p class="old">{{ diff.openhours.old }}</p>
        <p class="new">{{ diff.openhours.new }}</p>
    {% else %}
        <p class="same">{{ diff.openhours.same }}</p>
    {% endif %}
    <h2>Jour d'ouverture</h2>

    {% if diff.opendays.old != null or diff.opendays.new != null %}
        {% for opendaysOld in diff.opendays.old %}
            <p class="old">{{ opendaysOld }}</p>
        {% endfor %}
        {% for opendaysNew in diff.opendays.new %}
            <p class="new">{{ opendaysNew }}</p>
        {% endfor %}
    {% else %}
        {% for opendaysSame in diff.opendays.same %}
            <p class="same">{{ opendaysSame }}</p>
        {% endfor %}
    {% endif %}

    <h2>Nombres de jours d'ouverture dans l'année</h2>
    {% if diff.opendaysYear.old != null or diff.opendaysYear.new != null %}
        {% for opendaysYearOld in diff.opendaysYear.old %}
            <p class="old">{{ opendaysYearOld }}</p>
        {% endfor %}
        {% for opendaysYearNew in diff.opendaysYear.new %}
            <p class="new">{{ opendaysYearNew }}</p>
        {% endfor %}
    {% else %}
        {% for opendaysYearSame in diff.opendaysYear.same %}
            <p class="same">{{ opendaysYearSame }}</p>
        {% endfor %}
    {% endif %}
    <h2>Nombre de personnes dans l'équipe</h2>
    {% if diff.teamMembersNumber.old != null and diff.teamMembersNumber.new != null %}
        <p class="old">{{ diff.teamMembersNumber.old }}</p>
        <p class="new">{{ diff.teamMembersNumber.new }}</p>
    {% else %}
        <p class="same">{{ diff.teamMembersNumber.same }}</p>
    {% endif %}
    <h2>Description du travail</h2>
    {% if diff.workingDescription.old != null and diff.workingDescription.new != null %}
        <div class="old">{{ diff.workingDescription.old|raw }}</div>
        <div class="new">{{ diff.workingDescription.new|raw }}</div>
    {% else %}
        <div class="same">{{ diff.workingDescription.same|raw }}</div>
    {% endif %}
    <h2>Ecole</h2>
    {% if diff.school.old != null and diff.school.new != null %}
        <p class="old">{{ diff.school.old }}</p>
        <p class="new">{{ diff.school.new }}</p>
    {% else %}
        <p class="same">{{ diff.school.same }}</p>
    {% endif %}
    <h2>Description de l'école</h2>
    {% if diff.schoolDescription.old != null and diff.schoolDescription.new != null %}
        <div class="old">{{ diff.schoolDescription.old|raw }}</div>
        <div class="new">{{ diff.schoolDescription.new|raw }}</div>
    {% else %}
        <div class="same">{{ diff.schoolDescription.same|raw }}</div>
    {% endif %}
    <h2>Nom du directeur</h2>
    {% if diff.directorName.old != null and diff.directorName.new != null %}
        <p class="old">{{ diff.directorName.old }}</p>
        <p class="new">{{ diff.directorName.new }}</p>
    {% else %}
        <p class="same">{{ diff.directorName.same }}</p>
    {% endif %}
    <h2>Description d'une journée type</h2>
    {% if diff.dayDescription.old != null and diff.dayDescription.new != null %}
        <div class="old">{{ diff.dayDescription.old|raw }}</div>
        <div class="new">{{ diff.dayDescription.new|raw }}</div>
    {% else %}
        <div class="same">{{ diff.dayDescription.same|raw }}</div>
    {% endif %}
    <h2>Comment accéder à la structure</h2>
    {% if diff.transport.old != null and diff.transport.new != null %}
        <div class="old">{{ diff.transport.old|raw }}</div>
        <div class="new">{{ diff.transport.new|raw }}</div>
    {% else %}
        <div class="same">{{ diff.transport.same|raw }}</div>
    {% endif %}
    <h2>Qu'est-il prévu pour les familles</h2>
    {% if diff.receptionDescription.old != null and diff.receptionDescription.new != null %}
        <div class="old">{{ diff.receptionDescription.old|raw }}</div>
        <div class="new">{{ diff.receptionDescription.new|raw }}</div>
    {% else %}
        <div class="same">{{ diff.receptionDescription.same|raw }}</div>
    {% endif %}
    <h2>Combien ça coûte pour l'usager</h2>
    {% if diff.cost.old != null and diff.cost.new != null %}
        <div class="old">{{ diff.cost.old|raw }}</div>
        <div class="new">{{ diff.cost.new|raw }}</div>
    {% else %}
        <div class="same">{{ diff.cost.same|raw }}</div>
    {% endif %}
    <h2>Précisez la procèdure d'admission</h2>
    {% if diff.inscription.old != null and diff.inscription.new != null %}
        <div class="old">{{ diff.inscription.old|raw }}</div>
        <div class="new">{{ diff.inscription.new|raw }}</div>
    {% else %}
        <div class="same">{{ diff.inscription.same|raw }}</div>
    {% endif %}
    <h2>Celui qui a updaté la fiche</h2>
    {% if diff.user.old != null and diff.user.new != null %}
        <p class="old">{{ diff.user.old }}</p>
        <p class="new">{{ diff.user.new }}</p>
    {% else %}
        <p class="same">{{ diff.user.same }}</p>
    {% endif %}
    <h2>Commentaire éventuel sur l'équipe</h2>
    {% if diff.commentStaff.old != null and diff.commentStaff.new != null %}
        <div class="old">{{ diff.commentStaff.old|raw }}</div>
        <div class="new">{{ diff.commentStaff.new|raw }}</div>
    {% else %}
        <div class="same">{{ diff.commentStaff.same|raw }}</div>
    {% endif %}
    <h2>Le type d'utilisateur</h2>
    {% if diff.userType.old != null and diff.userType.new != null %}
        <p class="old">{{ diff.userType.old }}</p>
        <p class="new">{{ diff.userType.new }}</p>
    {% else %}
        <p class="same">{{ diff.userType.same }}</p>
    {% endif %}
    <h2>Quelle est votre zone d'intervention</h2>
    {% if diff.interventionZone.old != null and diff.interventionZone.new != null %}
        <p class="old">{{ diff.interventionZone.old }}</p>
        <p class="new">{{ diff.interventionZone.new }}</p>
    {% else %}
        <p class="same">{{ diff.interventionZone.same }}</p>
    {% endif %}
    <h2>Organisme gestionnaire</h2>
    {% if diff.society.old != null and diff.society.new != null %}
        <p class="old">{{ diff.society.old }}</p>
        <p class="new">{{ diff.society.new }}</p>
    {% else %}
        <p class="same">{{ diff.society.same }}</p>
    {% endif %}
    <h2>Logo de la structure</h2>
    {% if diff.structureLogo.old != null and diff.structureLogo != null %}
        <p class="new"> L'ancien logo à été remplacer par :</p><img src="{{ asset('uploads/structureLogo/' ~ diff.structureLogo.new ~'') }}" ></p>
    {% else %}
        <p class="same"> same logo</p><img src="{{ asset('uploads/structureLogo/' ~ diff.structureLogo.same ~'') }}" ></p>
    {% endif %}
    <h2>Logo de l'organisme gestionnaire</h2>
    {% if diff.societyLogo.old != null and diff.societyLogo.new != null %}
        <p class="old">{{ diff.societyLogo.old }}</p>
        <p class="new">{{ diff.societyLogo.new }}</p>
    {% else %}
        <p class="same">{{ diff.societyLogo.same }}</p>
    {% endif %}
    <h2>Orientation MDPH</h2>
    {% if diff.orientationMdph.old != null and diff.orientationMdph.new != null %}
        <p class="old">{{ diff.orientationMdph.old }}</p>
        <p class="new">{{ diff.orientationMdph.new }}</p>
    {% else %}
        <p class="same">{{ diff.orientationMdph.same }}</p>
    {% endif %}
    <h2>Souhaitez-vous mettre en avant une information spécifique sur la fiche de votre structure ?</h2>
    {% if diff.freeDescription.old != null and diff.freeDescription.new != null %}
        <div class="old">{{ diff.freeDescription.old|raw }}</div>
        <div class="new">{{ diff.freeDescription.new|raw }}</div>
    {% else %}
        <div class="same">{{ diff.freeDescription.same|raw }}</div>
    {% endif %}
    <h2>Brochure</h2>
    {% if diff.brochureName.old != null and diff.brochureName.new != null %}
        <p class="old">{{ diff.brochureName.old }}</p>
        <p class="new">{{ diff.brochureName.new }}</p>
    {% else %}
        <p class="same">{{ diff.brochureName.same }}</p>
    {% endif %}
    <h2>Image de présentation</h2>
    {% if diff.firstPicture.old != null and diff.firstPicture.new != null %}
        <p class="old">{{ diff.firstPicture.old }}</p>
        <p class="new">{{ diff.firstPicture.new }}</p>
    {% else %}
        <p class="same">{{ diff.firstPicture.same }}</p>
    {% endif %}
    <h2>Types de handicap</h2>
        {% if disabilities.old != null %}
            {% for disabilityOld in disabilities.old %}
                <p class="old">{{ disabilityOld.disabilityName }}</p>
            {% endfor %}
        {% endif %}
        {% if disabilities.new != null %}
            {% for disabilityNew in disabilities.new %}
                <p class="new">{{ disabilityNew.disabilityName }}</p>
            {% endfor %}
        {% endif %}
        {% if disabilities.same != null %}
            {% for disabilitySame in disabilities.same %}
                <p class="same">{{ disabilitySame.disabilityName }}</p>
            {% endfor %}
        {% endif %}
    <h2>Besoin primaires</h2>
        {% if needs.old != null %}
            {% for needsOld in needs.old %}
                <p class="old">{{ needsOld.needName }}</p>
            {% endfor %}
        {% endif %}
        {% if needs.new != null %}
            {% for needNew in needs.new %}
                <p class="new">{{ needNew.needName }}</p>
            {% endfor %}
        {% endif %}
        {% if needs.same != null %}
            {% for needSame in needs.same %}
                <p class="same">{{ needSame.needName }}</p>
            {% endfor %}
        {% endif %}

        <h2>Besoin secondaires</h2>
        {% if secondNeeds.old != null %}
            {% for secondNeedsOld in secondNeeds.old %}
                <p class="old">{{ secondNeedsOld.needName }}</p>
            {% endfor %}
        {% endif %}
        {% if secondNeeds.new != null %}
            {% for needNew in secondNeeds.new %}
                <p class="new">{{ needNew.needName }}</p>
            {% endfor %}
        {% endif %}
        {% if secondNeeds.same != null %}
            {% for secondNeedsame in secondNeeds.same %}
                <p class="same">{{ secondNeedsame.needName }}</p>
            {% endfor %}
        {% endif %}
        <h2>travail médical</h2>
        {% if medicalJob.old != null %}
            {% for medicalJobOld in medicalJob.old %}
                <p class="old">{{ medicalJobOld.jobs }}</p>
            {% endfor %}
        {% endif %}
        {% if medicalJob.new != null %}
            {% for medicalJobNew in medicalJob.new %}
                <p class="new">{{ medicalJobNew.jobs }}</p>
            {% endfor %}
        {% endif %}
        {% if medicalJob.same != null %}
            {% for medicalJobSame in medicalJob.same %}
                <p class="same">{{ medicalJobSame.jobs }}</p>
            {% endfor %}
        {% endif %}
        <h2>travail social</h2>
        {% if socialJob.old != null %}
            {% for socialJobOld in socialJob.old %}
                <p class="old">{{ socialJobOld.socialJobs }}</p>
            {% endfor %}
        {% endif %}
        {% if socialJob.new != null %}
            {% for socialJobNew in socialJob.new %}
                <p class="new">{{ socialJobNew.socialJobs }}</p>
            {% endfor %}
        {% endif %}
        {% if socialJob.same != null %}
            {% for socialJobSame in socialJob.same %}
                <p class="same">{{ socialJobSame.socialJobs }}</p>
            {% endfor %}
        {% endif %}
        <h2>autre travail</h2>
        {% if communJob.old != null %}
            {% for communJobOld in communJob.old %}
                <p class="old">{{ communJobOld.name }}</p>
            {% endfor %}
        {% endif %}
        {% if communJob.new != null %}
            {% for communJobNew in communJob.new %}
                <p class="new">{{ communJobNew.name }}</p>
            {% endfor %}
        {% endif %}
        {% if communJob.same != null %}
            {% for communJobSame in communJob.same %}
                <p class="same">{{ communJobSame.name }}</p>
            {% endfor %}
        {% endif %}


{% endblock sonata_profile_content %}