{% extends 'base.html.twig' %}

{% block body %}
    <h1>Structurestype</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ structuresType.id }}</td>
            </tr>
            <tr>
                <th>Structurestype</th>
                <td>{{ structuresType.structuresType }}</td>
            </tr>
            <tr>
                <th>Logomdph</th>
                <td>{{ structuresType.logoMdph }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('structurestypes_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('structurestypes_edit', { 'id': structuresType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
