{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}


{% block stylesheets %}
    /*this will extend the parent block */
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/adminnavbar.css') }}"/>
{% endblock %}
{% block table_body %}
    <tbody>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {% include admin.getTemplate('outer_list_rows_' ~ admin.getListMode()) %}
    {% elseif is_granted('ROLE_ORG') %}
        {% for picture in pictures %}


                <tr>
                    <td>
                        <input type="checkbox" name="idx[]" value="{{ picture.id }}">
                    </td>
                    <td>
                        <a class="sonata-link-identifier" href="{{ path('admin_handissimo_gallery_edit', { 'id': picture.id}) }}">{{ picture.name }}</a>
                    </td>

                    <td>{{ picture.name }}</td>
                    <td>{{ picture.updated | date('d-m-Y') }}</td>


                </tr>

        {% endfor %}
    {% endif %}

    </tbody>
{% endblock %}

{% block table_footer %}
{% endblock %}
