{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% block table_body %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {% for media in medias %}
            <tr>
                <td>
                    <input type="checkbox" name="idx[]" value="{{ media.id }}">
                </td>
                <td>
                    <a class="sonata-link-identifier" href="{{ path('admin_handissimo_media_edit', { 'id': media.id}) }}">{{ media.fileName }}</a>
                </td>
                <td><img src="{{ asset(media.thumbnails) }}" /></td>
            </tr>
        {% endfor %}
    {% elseif is_granted('ROLE_ORG') %}
        {% for media in medias %}
            {% if media.organizationsId == app.user.organizationsUser.id %}
                <tr>
                    <td>
                        <input type="checkbox" name="idx[]" value="{{ media.id }}">
                    </td>
                    <td>
                        <a class="sonata-link-identifier" href="{{ path('admin_handissimo_media_edit', { 'id': media.id}) }}">{{ media.fileName }}</a>
                    </td>
                    <td><img src="{{ asset(media.thumbnails) }}" /></td>


                </tr>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}