{% extends 'base.html.twig' %}

{% block body %}
    <h1>Need</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ need.id }}</td>
            </tr>
            <tr>
                <th>Needname</th>
                <td>{{ need.needName }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('needs_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('needs_edit', { 'id': need.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
