{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block body %}

    <section class="container-fluid" id="main-index">
        <div class="container">
            <h1>Handissimo vous facilite le handicap !</h1>
            <div class="col-md-10 col-md-offset-1">
                <h2>Trouvez rapidement la solution adaptée. <br>Partagez votre avis et échangez avec la communauté.</h2>
            </div>
        </div>

        <div class="container">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.keyword) }}
            <ul id="keywordautocomplete"></ul>
            {{ form_row(form.age) }}
            {{ form_row(form.postal) }}
            {{ form_row(form.save, { 'label': 'Trouvez votre solution' }) }}
            <ul id="city"></ul>
            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}