{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block body %}

    <section class="container-fluid" id="main-index">
        <div class="container">
            <h1>Handissimo vous facilite le handicap !</h1>
            <div class="col-md-10 col-md-offset-1">
                <h2>Trouvez rapidement la solution adaptée. <br>Partagez votre avis et échangez avec la communauté.</h2>
            </div>
        </div>

        <div class="container" id="search-container">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="col-xs-12 col-md-5">
                <div class="col-xs-12 search-field">
                    <p>Que cherchez-vous ?<i class="fa fa-search" aria-hidden="true"></i></p>
                    {{ form_row(form.keyword, { 'attr': {'placeholder': 'Répit, scolarité pour enfant autiste, foyer de vie...', 'class' : 'homeField'} }) }}
                    <ul id="keywordautocomplete"></ul>
                </div>
            </div>

            <div class="col-xs-12 col-md-2">
                <div class="col-xs-12 search-field">
                    <p>Âge<i class="fa fa-birthday-cake" aria-hidden="true"></i></p>
                    {{ form_row(form.age, { 'attr': {'placeholder': 'input.age'|trans({}, 'messages'), 'class' : 'homeField'} }) }}
                </div>
            </div>

            <div class="col-xs-12 col-md-5 clear">
                <div class="col-xs-12 search-field">
                    <p>Où ?<i class="fa fa-map-marker" aria-hidden="true" id="marker"></i></p>
                    {{ form_row(form.postal, { 'attr': {'placeholder': 'Lyon (69000), Paris (75000)…', 'class' : 'homeField'} }) }}
                    <ul id="city"></ul>
                </div>
            </div>
        </div>
        <div class="container">
            {{ form_row(form.save, { 'label': 'Trouvez votre solution', 'class': 'btn' }) }}
            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}