<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#handissimo-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{{ path('index_action') }}">
                <img alt="Handissimo vous simplifie le handicap" src="{{ asset('images/handissimo-logo.png') }}" class="logo-handissimo-navbar">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="handissimo-nav">
            <div class="nav navbar-nav navbar-right">
                <a href="{{ path('handissimo_structure') }}" class="link-nav">
                    <button class="btn blue-btn">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Comment ça marche ?
                    </button>
                </a>
                <a href="{{ path('handissimo_aboutpage') }}"  class="link-nav">
                    <button class="btn orange-btn">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>Qui sommes-nous ?
                    </button>
                </a>
                <a href="{{ path('handissimo_help') }}"  class="link-nav">
                    <button class="btn blue-btn">
                        <i class="fa fa-bullhorn" aria-hidden="true"></i>Comment nous aider
                    </button>
                </a>
                {% if app.user %}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <div class="btn-group">
                            <button type="button" class="btn pink-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ asset('images/avatar/businessman.png') }}" class="img-avatar">
                                Bonjour {{ app.user.username }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="dropdown-home">
                                <li><a href="{{ path('sonata_user_profile_show') }}">MON COMPTE</a></li>
                                <li><a href="{{ path('organizations_new') }}">CREER UNE FICHE</a> </li>
                                <li><a href="{{ path('sonata_user_security_logout') }}">DECONNEXION</a></li>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <li><a href="{{ path('sonata_admin_dashboard') }}">ADMIN</a></li>
                                {% endif %}
                    {% endif %}
                            </ul>
                        </div>
                {% else %}
                <a href="{{ path('fos_user_security_login') }}">
                    <button class="btn pink-btn">
                        <i class="fa fa-user" aria-hidden="true"></i>Mon compte
                    </button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>