<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#handissimo-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{{ path('research_action') }}">
                <img alt="Handissimo vous simplifie le handicap" src="{{ asset('images/handissimo-logo.png') }}" class="logo-handissimo-navbar">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="handissimo-nav">
            <div class="nav navbar-nav navbar-right">
                <a href="{{ path('handissimo_aboutpage') }}">
                    <button class="btn orange-btn">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>Qui sommes-nous ?
                    </button>
                </a>
                {{ render(controller("HandissimoBundle:NewOpinion:new")) }}
                <a href="{{ path('handissimo_structure') }}">
                    <button class="btn modal-button">
                        <i class="fa fa-user" aria-hidden="true"></i>Vous êtes une solution
                    </button>
                </a>
                {% if app.user %}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <button type="button" class="btn pink-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ asset('images/avatar/businessman.png') }}" class="img-avatar">
                            Bonjour {{ app.user.username }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('sonata_user_security_logout') }}">Déconnexion</a></li>
                            <li><a href="{{ path('sonata_user_profile_edit') }}">Profil</a></li>
                            <li><a href="{{ path('sonata_admin_dashboard') }}">Admin</a></li>
                    {% endif %}
                            </ul>
                {% else %}
                <a href="{{ path('fos_user_security_login') }}">
                    <button class="btn pink-btn">
                        <i class="fa fa-user" aria-hidden="true"></i>Votre compte
                    </button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>