<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#handissimo-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{{ path('research_action') }}">
                <img alt="Handissimo vous simplifie le handicap" src="{{ asset('images/handissimo-logo.png') }}" class="logo-handissimo-navbar">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="handissimo-nav">
            <div class="nav navbar-nav navbar-right">
                <a href="{{ path('handissimo_aboutpage') }}">
                    <button class="btn orange-btn">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>Qui sommes-nous ?
                    </button>
                </a>
                {{ render(controller("HandissimoBundle:NewOpinion:new")) }}
                <a href="{{ path('fos_user_security_login') }}">
                    <button class="btn pink-btn">
                        <i class="fa fa-user" aria-hidden="true"></i>Votre compte
                    </button>
                </a>
                {% if is_granted('ROLE_ORG') or is_granted('ROLE_SOC') %}
                    <a href="#">
                        <button class="btn pink-btn">
                            <i class="fa fa-user" aria-hidden="true"></i>Vous êtes une structure
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>