{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/organizations.css') }}">
{% endblock %}

{% block body %}

    <!-- Block container -->
    <div class="head-img"></div>

    <div class="container main-block">
        <div class="container-info row">
            <!-- Block Title-->
            <div class="head-block">
                <div class="row ">
                    <p class="update">Dernière mise à jour le {{ organization.updateDatetime |date('d-m-Y')}} par : {{ organization.user }}, en tant que : {{ organization.userType }}</p>
                </div>

                <div class="row">
                    <div class="head-title col-md-11 col-sm-11">
                        {% if organization.societies == null %}
                        <h1 class="title"> {{ organization.name }} </h1>
                        {% else %}
                        <h1 class="title">{{ organization.societies.societyname }} - {{ organization.name }}</h1>
                            <div class="img-block col-md-1 "><img class="organization-logo"  title="Logo de {{ organization.name }}" src="{{ organization.societies.logo }}" alt=""></div>

                        {% endif %}
                    </div>
                    <!-- this is the line to display like button
                    <div class="like col-md-1 col-sm-1"><i class="fa fa-heart-o " aria-hidden="true"></i></div> --->
                </div>
            </div>

            <!-- Carousel-->
            <div class="carousel">
                <ul>
                    <li class="line-img">
                        <img class="carousel-image" src="https://s23.postimg.org/k5yj75xe3/image.jpg" alt="">
                    </li>
                    <li class="line-img">
                        <img class="carousel-image" src="https://s28.postimg.org/xczbol3q5/image.jpg" alt="">
                    </li>
                    <li class="line-img">
                        <img class="carousel-image" src="https://s23.postimg.org/k5yj75xe3/image.jpg" alt="">
                    </li>
                    <li class="line-img">
                        <img class="carousel-image" src="https://s28.postimg.org/xczbol3q5/image.jpg" alt="">
                    </li>
                    <li class="line-img">
                        <img class="carousel-image" src="https://s23.postimg.org/k5yj75xe3/image.jpg" alt="">
                    </li>
                </ul>
            </div>

            <!-- Essential Block -->
            <div class="essential-block col-md-8">
            <!-- Contact Block -->
                <div class="contact-info">
                    <div class="line">
                        <div class="icon-block">
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </div>
                        <p class="address-line">{{ organization.address }} {{ organization.postal }} {{ organization.city }}</p>
                    </div>

                    <div class="line">
                        <div class="icon-block">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <p class="address-line">{{ organization.phoneNumber }}</p>
                    </div>

                    <div class="line">
                        <div class="icon-block">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <a class="address-line address-link" href="mailto:{{ organization.mail }}" target="_blank">{{ organization.mail }}</a>
                    </div>

                    {% if organization.website %}
                    <div class="line">
                        <div class="icon-block">
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                        </div>
                        <a class="address-line address-link" title="Liens vers le site internet {{ organization.website }}" href="{{ organization.website }}" target="_blank">Site web</a>
                    </div>
                    {% endif %}

                    {% if organization.blog %}
                    <div class="line">
                        <div class="icon-block">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                        </div>
                        <a class="address-line address-link" title="Liens vers le Blog" href="http://{{ organization.blog }}" target="_blank">Blog</a>
                    </div>
                    {% endif %}

                    {% if organization.facebook %}
                    <div class="line">
                        <div class="icon-block">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </div>
                        <a class="address-line address-link" title="Liens vers la page facebook" href="http://{{ organization.facebook }}" target="_blank">Facebook</a>
                    </div>
                    {% endif %}

                    {% if organization.twitter %}
                    <div class="line">
                        <div class="icon-block">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </div>
                        <a class="address-line address-link" title="Liens vers la page Twitter" href="http://{{ organization.twitter }}" target="_blank">Twitter</a>
                    </div>
                    {% endif %}
                </div>
                {#{% if  organization.statut == 1 %}#}
                    <!-- Descriptions Block -->
                    {% if  organization.organizationDescription %}
                        <div class="col-md-12 description">
                            <h2>Description de l'organisation</h2>
                           <p>{{ organization.organizationDescription|raw }}</p>
                        </div>
                    {% endif %}

                    {% if organization.serveDescription %}
                        <div class="col-md-12 description">
                            <h2>Les services proposés</h2>
                            <p>{{ organization.serveDescription|raw }}</p>
                        </div>
                    {% endif %}

                    {% if organization.placeDescription %}
                        <div class="col-md-12 description">
                            <h2>Nos locaux</h2>
                            <p>{{ organization.placeDescription|raw }}</p>
                        </div>
                    {% endif %}

                    {% if organization.schoolDescription %}
                        <div class="col-md-12 description">
                            <h2>L'école</h2>
                            <p>{{ organization.schoolDescription|raw }}</p>
                        </div>
                    {% endif %}

                    {% if organization.teamDescription %}
                        <div class="col-md-12 description">
                            <h2>Description de l'équipe</h2>
                            <p>{{ organization.teamDescription|raw }}</p>
                        </div>
                    {% endif %}

                    {% if organization.workingDescription %}
                        <div class="col-md-12 description">
                            <h2>Comment travaillons-nous ?</h2>
                            <p>{{ organization.workingDescription|raw }}</p>
                        </div>
                    {% endif %}

                    {% if organization.activities %}
                        <div class="col-md-12 description">
                            <h2>Les activités proposées</h2>
                            <p>{{ organization.activities|raw }}</p>
                        </div>
                    {% endif %}
                {#{% else %}
                    <h2>Veuillez nous excuser pour le désagrement, la fiche est actuellement en correction.</h2>
                {% endif %}#}
            </div>

            <!-- Map -->
            <div class="col-md-4 map-block">
                <div class="map col-md-12" id="map">
                </div>
                {% set array = {
                'latitude': organization.latitude,
                'longitude': organization.longitude,
                } %}

                {% set arrayjson = array|json_encode %}

                <input type="hidden" class="arrayjson" value="{{ arrayjson }}" />

                <!-- Resources -->
                <div class="resources col-md-12">
                    <!-- download button -->
                    <a class="download" href="https://s23.postimg.org/k5yj75xe3/image.jpg" target="_blank">
                        <div class="line download-line">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            <p>Télécharger des documents</p>
                        </div>
                    </a>
                    <!-- print button -->
                    <a class="print" href="javascript:window.print()" title="Accède aux paramètres d'impression">
                        <div class="line print-line">
                            <i class="fa fa-print" aria-hidden="true"></i>
                            <p>Imprimer</p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- return button -->
            <div class="col-md-12">
                <div class="text-center btn-return">
                    <a href="javascript:history.go(-1)" class="btn-return-link">
                    <p class="return">Retour à la recherche</p>
                    </a>
                    {% if is_granted('ROLE_ORG') or is_granted('ROLE_SOC') or is_granted('ROLE_SUPER_ADMIN')%}
                        {% if organization.userorg == null %}
                            <a href="{{ path('admin_handissimo_organizations_edit',  {'id': organization.id }) }}" class="btn-return-link">
                                <p class="return">Editer cette fiche</p>
                            </a>
                        {% elseif  user.organizationsuser == null %}
                                <p class="return">Cette fiche n'est pas éditable</p>
                        {% elseif  user.organizationsuser.id == organization.id %}
                            <a href="{{ path('admin_handissimo_organizations_edit',  {'id': organization.id }) }}" class="btn-return-link">
                                <p class="return">Editer cette fiche</p>
                            </a>
                        {% else %}
                            <p class="return">Cette fiche n'est pas éditable</p>
                        {% endif %}
                    {% elseif organization.userorg == null %}
                        <a href="{{ path('fos_user_security_login') }}" class="btn-return-link">
                            <p class="return">Editer cette fiche</p>
                        </a>
                    {% else %}
                        <p class="return">Cette fiche n'est pas éditable</p>
                    {% endif %}
                </div>
                <div class ="line-block"></div>
            </div>

            <div class="comment-block">
                <div class="row">
                    <div class="col-md-offset-2 col-md-7 col-xs-12">
                        <h3>Commentaires</h3>
                        {%for comment in comments %}

                            <div class="media" id="comment-organizations">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="media-left media-top">
                                            <img class="media-object" src="{{ asset('images/avatar/doctor-1.png') }}" alt="..." id="avatar-comment">
                                        </div>
                                        <span class="bold">{{ comment.author }}</span><br>
                                        <small>{{ comment.parutionDate|date ('d/m/Y')}}</small>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ comment.content }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="comment-form">
                <div class="row">
                    <div class="col-md-offset-2 col-md-7 col-xs-12">
                        <h3>Laissez un commentaire</h3>
                        <form method="POST" action="{{path('handissimo_organizations_standard_page', {'id': organization.id })}}">
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                            {{ form_widget(form.author, {'attr': {'class': 'form-control form2', 'value': organization.user }}) }}
                            {{ form_widget(form.content, {'attr': {'class': 'form-control form2', 'placeholder': 'Message'}}) }}
                            <div class="g-recaptcha" data-sitekey="6Lc8vBYUAAAAAB8DSXyHoqJF40zsbd14Wd_NBnpC" data-callback="enableBtn"></div>
                            <button id="btn-solution" type="submit" class="btn btn-primary ">Envoyer</button>
                            {{ form_end(form) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/carousel.js') }}"></script>
    <script type="text/javascript" src="{{ asset ('js/organizationMap.js')}}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT1ybqTsqE0Nzit6xL7PfZWcgnLmThfXc&callback=initMap">
    </script>
{% endblock %}

