{% extends 'base.html.twig' %}
{% import "Macros/form_elements.html.twig" as formElements %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/organizations.css') }}">
{% endblock %}

{% block body %}

    <!-- Block container -->
    <div class="head-img"></div>
    <div class="container main-block">
        <div class="container-info row">
            <!-- Block Title-->
            <div class="head-block">
                <div class="container">
                    <p class="update">Dernière mise à jour le {{ organization.updateDatetime |date('d-m-Y')}} par : {{ organization.user }}, en tant que : {{ organization.userType }}</p>
                </div>
                <div class="head-title col-md-11 col-sm-11">
                    {% if organization.societyLogo %}
                        <img src="{{ asset('uploads/logo/' ~ organization.societyLogo.filename) }}" alt="{{ 'logo de ' ~ organization.society }}">
                    {% endif %}
                    <h1 class="title"> {{ organization.name }} </h1>
                    {% if organization.structureLogo %}
                        <img src="{{ asset('uploads/logo/' ~ organization.structureLogo.filename) }}" alt="{{ 'logo de ' ~ organization.name }}">
                    {% endif %}
                </div>
                <!-- this is the line to display like button
                <div class="like col-md-1 col-sm-1"><i class="fa fa-heart-o " aria-hidden="true"></i></div> --->
            </div>
            <div class="row">
                <div class="col-md-8" id="block-carousel">
                    {% if organization.media is not empty %}
                    <!-- Carousel-->
                        {% include 'front/carousel.html.twig' %}
                    {% else%}
                        <div class="container">
                            <p>Photo non contractuelle.</p>
                            <img class="main-image img-responsive" src="{{ asset('images/FAM LUCON 2.png') }}" alt="Handissimo - Image principal structure">
                        </div>
                    {% endif %}
                </div>
                <!-- Map -->
                <div class="col-md-4 map-block">
                    <div class="map col-md-12" id="map">
                    </div>
                </div>
            </div>

            <div class="row">
            <!-- Essential Block -->
                <div class="essential-block col-md-8">
                    {#{% if  organization.statut == 1 %}#}
                        <!-- Descriptions Block -->
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="organization-panel">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h2 class="panel-title primary-title">
                                        <a class="collapsed link-about" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            C'est pour qui ?
                                        </a>
                                    </h2>
                                </div>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div  class="panel-body">
                                    {% if  organization.organizationDescription %}
                                        <div class="col-md-12 description">
                                            <p>{{ organization.organizationDescription|raw }}</p>
                                        </div>
                                        {% else %}
                                        <div class="col-md-12 description">
                                            <p>Si vous en savez plus, n'hésitez pas à compléter la fiche</p>
                                        </div>
                                    {% endif %}
                                    <div class="col-md-12">
                                        <h3 class="second-title">Principaux troubles des personnes accueillies :</h3>
                                    </div>
                                    <ul>
                                        {% for disability in organization.disabilityTypes %}
                                            <li>{{ disability }}</li>
                                        {% endfor %}
                                    </ul>
                                    <div class="col-md-6">
                                        <h3 class="second-title">Âge : </h3><p> De {{ organization.agemini }} à {{ organization.agemaxi }} ans</p>
                                    </div>
                                    {% if organization.freeplace %}
                                    <div class="col-md-6">
                                        <h3 class="second-title">Nombre de personnes accompagnées :</h3><p> {{ organization.freeplace }}</p>
                                    </div>
                                    {% endif %}
                                    {% if organization.interventionZone %}
                                        <div class="col-md-12">
                                            <h3 class="second-title">Pour bénéficier du service, il faut habiter sur le territoire suivant : </h3><p class="bold">{{ organization.interventionZone }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="organization-panel">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h2 class="panel-title primary-title">
                                        <a class="collapsed link-about" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Qu'est-ce qui est proposé ?
                                        </a>
                                    </h2>
                                </div>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                    <h3 class="second-title">Cette solution offre principalement les services suivants: </h3>
                                    <ul>
                                        {% if organization.needs != null %}
                                        {% for need in organization.needs %}
                                            <li>{{ need }}</li>
                                        {% endfor %}
                                        {% else %}
                                            <li> ? </li>
                                        {% endif %}
                                    </ul>
                                    </div>
                                    {% if organization.secondneeds != null %}
                                    <div class="col-md-12">
                                        <h3 class="second-title">Et aussi : </h3>
                                        <ul>
                                            {% for secondneeds in organization.secondneeds %}
                                                <li>{{ secondneeds }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                    {% if organization.workingDescription %}
                                    <div class="col-md-12">
                                        <h3 class="second-title">Pour en savoir plus :</h3>
                                        {{ organization.workingDescription|raw }}
                                    </div>
                                    {% endif %}
                                    {% if organization.accomodation == "oui" %}
                                    <div class="col-md-12">
                                        <h3 class="second-title">Les conditions d'accueil : </h3>
                                        <p>{{ organization.accomodationDescription|raw }}</p>
                                    </div>
                                    {% endif %}
                                    {% if organization.school == "oui" %}
                                    <div class="col-md-12">
                                        <h3 class="second-title">La scolarisation</h3>
                                        <p>{{ organization.schoolDescription|raw }}</p>
                                    </div>
                                    {% endif %}
                                    {% if organization.dayDescription %}
                                    <div class="col-md-12">
                                        <h3 class="second-title">Description d'une journée ou d'une intervention :</h3>
                                        <p>{{ organization.dayDescription|raw  }}</p>
                                    </div>
                                    {% endif %}

                                    {% if organization.receptionDescription %}
                                    <div class="col-md-12">
                                        <h3 class="second-title">Ce qui est prévu pour les familles :</h3>
                                        <p>{{ organization.receptionDescription|raw  }}</p>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="organization-panel">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h2 class="panel-title primary-title">
                                        <a class="collapsed link-about" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            L'équipe
                                        </a>
                                    </h2>
                                </div>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    {% if organization.teamMembersNumber is not empty %}
                                    <div class="col-md-12">
                                        <h3 class="second-title">L'équipe comprend environ {{ organization.teamMembersNumber }} professionnels.</h3>
                                    </div>
                                    {% endif %}
                                    <div class="col-md-12">
                                        <h3 class="second-title">Leurs métiers sont :</h3>
                                            {% if organization.stafforganizations is not empty %}
                                            <div class="col-md-4">
                                                <h4>Personnel de soin :</h4>
                                                <ul>
                                                    {% for jobs in organization.stafforganizations %}
                                                        <li>{{ jobs }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endif %}
                                            {% if organization.socialstaffs is not empty %}
                                            <div class="col-md-4">
                                                <h4>Personnel éducatif et social :</h4>
                                                <ul>
                                                    {% for socialJobs in organization.socialstaffs %}
                                                        <li>{{ socialJobs }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endif %}
                                            {% if organization.otherjobs is not empty %}
                                            <div class="col-md-4">
                                                <h4>Autres :</h4>
                                                <ul>
                                                    {% for otherJobs in organization.otherjobs %}
                                                        <li>{{ otherJobs }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="organization-panel">
                                <div class="panel-heading" role="tab" id="headinFour">
                                    <h2 class="panel-title primary-title">
                                        <a class="collapsed link-about" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                            Informations pratiques :
                                        </a>
                                    </h2>
                                </div>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    {% if organization.openhours is not empty %}
                                    <div class="col-md-12">
                                        <h3 class="second-title">Heures d'ouverture : </h3><p class="bold">{{ organization.openhours }}</p>
                                    </div>
                                    {% endif %}
                                    <div class="col-md-12">
                                    <h3 class="second-title">Jours d'ouverture : </h3>
                                        <ul>
                                            <li>
                                                semaine : <p>{% for days in organization.opendays %}{{ days }}&nbsp;{% endfor %}</p>
                                            </li>
                                            {% if organization.opendaysYear is not empty %}
                                            <li>
                                                année : <p>{% for yearsDays in organization.opendaysYear %}{{ yearsDays }}&nbsp;{% endfor %}</p>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    {% if organization.orientationMdph == 1 %}
                                    <div class="col-md-12">
                                        <h3 class="second-title">Sur orientation Mdph :</h3><p>oui</p>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="media">
                                            <div class="media-left">
                                                <img id="logo-mdph" src="{{ asset('images/mdph.jpg') }}" alt="handissimo - logo-mdph"
                                                     class="media-object">
                                            </div>
                                            <div class="media-body">
                                                Les maisons départementales des personnes handicapées (MDPH) ont été créées par la loi du 11 février 2005 dite
                                                "loi pour l'égalité des droits et des chances, la participation et la citoyenneté des personnes handicapées",
                                                entrée en vigueur le 1er janvier 2006...
                                                La MDPH constitue un guichet unique destiné à accueillir les personnes handicapées et leur entourage pour les
                                                informer et évaluer leurs besoins. Elles permettent de faciliter leurs démarches dans l'accès à leurs droits.
                                                Elle assure la coordination des différentes équipes, composées de gestionnaires administratifs,
                                                médecins (généralistes ou spécialisées), assistantes sociales, psychologues, référente insertion professionnelle, ergothérapeutes.
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if organization.inscription %}
                                    <div class="col-md-12">
                                      <h3 class="second-title">Comment s'inscrire ?</h3>
                                        {{ organization.inscription|raw }}
                                    </div>
                                    {% endif %}
                                    {% if organization.cost %}
                                    <div class="col-md-12">
                                        <h3 class="second-title">Combien ça coûte ?</h3>
                                        {{ organization.cost|raw  }}
                                    </div>
                                    {% endif %}
                                    {% if organization.transport %}
                                    <div class="col-md-12">
                                        <h3 class="second-title">Les transports :</h3>
                                            {{ organization.transport|raw  }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <!-- Contact block -->
                    <div class="contact-info col-md-12">
                        {% if organization.orgaStructure %}
                        <div class="line">
                            <div class="icon-block">
                                <i class="fa fa-tag" aria-hidden="true"></i>
                            </div>
                            <p class="address-line">{{ organization.orgaStructure }}</p>
                        </div>
                        {% endif %}
                        {% if organization.society %}
                            <div class="line">
                                <div class="icon-block">
                                    <i class="fa fa-tag" aria-hidden="true"></i>
                                </div>
                                <p class="address-line">Structure gére par : {{ organization.society }}</p>
                            </div>
                        {% endif %}
                        <div class="line">
                            <div class="icon-block">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </div>
                            {% if organization.addressComplement == null %}
                            <p class="address-line">{{ organization.address }} <br/>{{ organization.postal }} {{ organization.city }}</p>
                            {% else %}
                            <p class="address-line">{{ organization.address }}<br/>{{ organization.addressComplement }}<br/>{{ organization.postal }} {{ organization.city }}</p>
                            {% endif %}
                        </div>
                        {% if organization.phoneNumber %}
                        <div class="line">
                            <div class="icon-block">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <p class="address-line">{{ organization.phoneNumber }}</p>
                        </div>
                        {% endif %}
                        {% if organization.mail %}
                        <div class="line">
                            <div class="icon-block">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div id="mail">

                            </div>
                        </div>
                        {% endif %}
                        {% if organization.directorName %}
                        <div class="line">
                            <div class="icon-block">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                            <p class="address-line" >Responsable : {{ organization.directorName }}</p>
                        </div>
                        {% endif %}
                        {% if organization.website %}
                            <div class="line">
                                <div class="icon-block">
                                    <i class="fa fa-desktop" aria-hidden="true"></i>
                                </div>
                                <a class="address-line link-about" title="Liens vers le site internet {{ organization.website }}" href="{{ organization.website }}" target="_blank">Site web</a>
                            </div>
                        {% endif %}

                        {% if organization.blog %}
                            <div class="line">
                                <div class="icon-block">
                                    <i class="fa fa-commenting" aria-hidden="true"></i>
                                </div>
                                <a class="address-line link-about" title="Liens vers le Blog" href="http://{{ organization.blog }}" target="_blank">Blog</a>
                            </div>
                        {% endif %}

                        {% if organization.facebook %}
                            <div class="line">
                                <div class="icon-block">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </div>
                                <a class="address-line link-about" title="Liens vers la page facebook" href="http://{{ organization.facebook }}" target="_blank">Facebook</a>
                            </div>
                        {% endif %}

                        {% if organization.twitter %}
                            <div class="line">
                                <div class="icon-block">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </div>
                                <a class="address-line link-about" title="Liens vers la page Twitter" href="http://{{ organization.twitter }}" target="_blank">Twitter</a>
                            </div>
                        {% endif %}
                    </div>
                    {% set array = {
                    'latitude': organization.latitude,
                    'longitude': organization.longitude,
                    } %}

                    {% set arrayjson = array|json_encode %}

                    <input type="hidden" class="arrayjson" value="{{ arrayjson }}" />
                    {% set id = { 'id': organization.id,
                    } %}
                    {% set idjson = id|json_encode %}
                    <input type="hidden" class="arraymail" value="{{ idjson }}" />


                    <!-- Resources -->
                    <div class="resources col-md-12">
                        {% if organization.brochures %}
                        <!-- download button -->
                        <a class="download" href="{{ asset('uploads/brochures/' ~ organization.brochures.filename) }}" target="_blank">
                            <div class="line download-line">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                <p>{{ organization.brochures.filename }}</p>
                            </div>
                        </a>
                        {% endif %}
                        <!-- print button -->
                        <a class="print" href="javascript:window.print()" title="Accède aux paramètres d'impression">
                            <div class="line print-line">
                                <i class="fa fa-print" aria-hidden="true"></i>
                                <p>Imprimer</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- return button -->
            <div class="row" id="return-button">
                <div class="col-md-3 col-xs-12">
                    <button onclick="goBack()" class="btn btn-return" role="button" >
                        Retour à la recherche
                    </button>
                </div>
                <div class="col-md-3 col-xs-12">
                    <a href="{{ path('research_action') }}" class="btn btn-edit" role="button">
                        Retour à l'acceuil
                    </a>
                </div>
                {% if organization.userorg == null %}
                <div class="col-md-3 col-xs-12">
                    <a href="{{ path('handissimo_structure') }}" class="btn btn-edit" id="btn-sol" role="button">
                        Je suis responsable<br /> de cette solution
                    </a>
                </div>
                {% endif %}
                <div class="col-md-3 col-xs-12">
                    {% if is_granted('ROLE_ORG') or is_granted('ROLE_SOC') or is_granted('ROLE_SUPER_ADMIN')%}
                        {% if organization.userorg == null %}
                            <a href="{{ path('organizations_edit',  {'id': organization.id }) }}" class="btn btn-edit" role="button">
                                Modifier la fiche
                            </a>
                        {% elseif  user.organizationsuser == null %}
                            <p class="notModify">Vous ne pouvez pas modifier cette fiche</p>
                        {% elseif  user.organizationsuser.id == organization.id %}
                            <a href="{{ path('organizations_edit',  {'id': organization.id }) }}" class="btn btn-edit" role="button">
                                Modifier la fiche
                            </a>
                        {% else %}
                        <p class="notModify">Vous ne pouvez pas modifier cette fiche</p>
                        {% endif %}
                    {% elseif organization.userorg == null %}
                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-edit" role="button">
                            Modifier la fiche
                        </a>
                    {% else %}
                        <p class="notModify">Vous ne pouvez pas modifier cette fiche</p>
                    {% endif %}
                </div>
            </div>
            <div class ="line-block"></div>
            {% include ':front/comment:comment.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/vote.js') }}"></script>
    <script src="{{ asset('js/carousel.js') }}"></script>
    <script src="{{ asset('js/generateadress.js') }}"></script>
    <script type="text/javascript" src="{{ asset ('js/organizationMap.js')}}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT1ybqTsqE0Nzit6xL7PfZWcgnLmThfXc&callback=initMap">
    </script>
{% endblock %}

