{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/map.css') }}">
{% endblock %}
{% block body %}

    <div id="map"></div>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.disabilitytypes) }}
        {#}% for results in result %}
            {% for disabilityType in results.disabilityTypes %}
            <div id="disabilityselect">{{ disabilityType.disabilityName }}</div>
            {% endfor %}
        {% endfor %#}
    {{ form_row(form.structurestypes) }}
        {#% for results in result %}
            <div id="structureselect">{{ results.structuretype }}</div>
        {% endfor %#}
    {{ form_row(form.needs) }}
        {#% for results in result %}
            {% for need in results.needs %}
            <div id="needselect">{{ need.needName }}</div>
            {% endfor %}
        {% endfor %#}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
    <ul>
        {% for results in result %}
            <li>{{ results.name }}<br>{{ results.address }}<br>{{ results.postal }}<br>{{ results.city }}</li>
        {% endfor %}
    </ul>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset ('js/googlemap.js')}}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT1ybqTsqE0Nzit6xL7PfZWcgnLmThfXc&callback=initMap">
    </script>
{% endblock %}