{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/map.css') }}">
{% endblock %}
{% block body %}

    <div id="map"></div>

    <select name="1">
        {% for results in result %}
            <option>{{ results.name }}</option>
        {% endfor %}
    </select>
    <select name="2">
        {% for results in result %}
            <option>{{ results.name }}</option>
        {% endfor %}
    </select>
    <select name="3">
        {% for results in result %}
            <option>{{ results.name }}</option>
        {% endfor %}
    </select>

    <ul>
        {% for results in result %}
            <li>{{ results.name }}<br>{{ results.address }}<br>{{ results.postal }}<br>{{ results.city }}</li>
            {{ dump(results) }}
            {#{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.disabilitytypes) }}
                {{ form_row(form.needs) }}
                {{ form_row(form.structurestypes) }}
            {{ form_end(form) }#}
        {% endfor %}
    </ul>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset ('js/googlemap.js')}}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT1ybqTsqE0Nzit6xL7PfZWcgnLmThfXc&callback=initMap">
    </script>
{% endblock %}