{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/map.css') }}">
{% endblock %}
{% block body %}

    <div id="map">

    </div>
    <ul>
        {% for results in result %}
            <li>{{ results.name }}<br>{{ results.address }}<br>{{ results.postal }}<br>{{ results.city }}</li>

            {% set array = {
                'name': results.name,
                'address': results.address,
                'postal': results.postal,
                'city': results.city,
                'number': results.phoneNumber,
                'mail': results.mail,
                'web': results.website,
                'latitude': results.latitude,
                'longitude': results.longitude,
                }
            %}
            {% set arrayjson = array|json_encode %}
            <input type="hidden" class="arrayjson" value="{{ arrayjson }}" />

            {#}{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.zzzzzz) }}
            {{ form_end(form) }#}
        {% endfor %}





    </ul>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset ('js/googlemap.js')}}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT1ybqTsqE0Nzit6xL7PfZWcgnLmThfXc&callback=initMap">
    </script>
{% endblock %}