{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/map.css') }}">
{% endblock %}
{% block body %}

    <div id="map"></div>

    <select id="disabilitytypes">
        {% for results in result %}
            {% for disabilityType in results.disabilityTypes %}
            <option id="disabilityselect">{{ disabilityType.disabilityName }}</option>
            {% endfor %}
        {% endfor %}
    </select>
    <select id="structurestypes">
        {% for results in result %}
            <option id="structureselect">{{ results.structuretype }}</option>
        {% endfor %}
    </select>
    <select id="needs">
        {% for results in result %}
            {% for need in results.needs %}
            <option id="needselect">{{ need.needName }}</option>
            {% endfor %}
        {% endfor %}
    </select>

    <ul>
        {% for results in result %}
            <li>{{ results.name }}<br>{{ results.address }}<br>{{ results.postal }}<br>{{ results.city }}</li>
            {#{ dump(results) }#}
        {% endfor %}
    </ul>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset ('js/googlemap.js')}}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT1ybqTsqE0Nzit6xL7PfZWcgnLmThfXc&callback=initMap">
    </script>
{% endblock %}