{% extends 'base.html.twig' %}
{% import "Macros/form_elements.html.twig" as formElements %}

{% block title %}{{ parent() }} Comment ça marche ?{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/structure.css') }}">
{% endblock %}

{% block body %}
    <!-- Head block -->
    <div class="head-block"></div>
    <div class="container main-block">

        <div class="row">
            <h1 class="title main-title">Comment ça marche ?</h1>
            <div class="img-block">
                <img src="{{ asset('images/about3.jpeg') }}" alt="" class="img-responsive">
            </div>
        </div>

        {% for use in howToUse %}
            {{ use.howToUse|raw }}
        {% endfor %}
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                {{ flash_message }}
            </div>
        {% endfor %}

        <div class="col-md-offset-2 col-md-7 col-xs-12">
            <form method="POST" class="solutionForm" action="{{path('handissimo_structure')}}" id="form-solution">
                {{ form_start(form) }}
                {{ form_errors(form.lastname) }}
                {{ form_widget(form.lastname, {'attr': {'class': 'form-control form2', 'placeholder': 'lastname'|trans({}, 'messages')}}) }}
                {{ form_errors(form.firstname) }}
                {{ form_widget(form.firstname, {'attr': {'class': 'form-control form2', 'placeholder': 'firstname'|trans({}, 'messages')}}) }}
                {{ form_errors(form.mail) }}
                {{ form_widget(form.mail, {'attr': {'class': 'form-control form2', 'placeholder': 'mail'|trans({}, 'messages')}}) }}
                {{ form_errors(form.status) }}
                {{ form_widget(form.status, {'attr': {'class': 'form-control form2', 'placeholder': 'your status'|trans({}, 'messages')}}) }}
                {{ form_widget(form.solutionName, {'attr': {'class': 'form-control form2', 'placeholder': 'name of your solution'|trans({}, 'messages')}}) }}
                {{ form_widget(form.societyName, {'attr': {'class': 'form-control form2', 'placeholder': 'Name of the managing organization is it exists'|trans({}, 'messages')}}) }}
                <p>
                {{ form_widget(form.honor) }} J’atteste sur l’honneur être responsable de cette solution et je demande à prendre la main sur ma fiche.</p><br>
                {{formElements.recaptcha("6Lc8vBYUAAAAAB8DSXyHoqJF40zsbd14Wd_NBnpC")}}
                <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptchaTwo" id="hiddenRecaptchaTwo">
                <button id="btn-solution" type="submit" class="btn btn-primary ">Envoyer</button>
                {{ form_end(form) }}
            </form>
        </div>
    </div>
{% endblock body %}