{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editez votre fiche</h1>
    <div class="well">
        {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(edit_form) }}
        <div class="essential">
            <h2>L'essentiel</h2>
            <div class="form-group">
                {{ form_label(edit_form.societies, "Nom de votre gestionnaire : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                {{ form_errors(edit_form.societies) }}
                <div class="col-sm-4">
                    {{ form_widget(edit_form.societies, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">

                    <!-- section who? -->

                    <div class="col-xs-12 col-md-6 shadow-block">
                        <h3>Pour qui ?</h3>

                        <!-- section age -->

                        <div class="row">
                            <div class="form-group col-xs-12 col-md-6">
                                {{ form_label(edit_form.agemini, "age de : ", {'label_attr': {'class': 'col-xs-12 col-md-6 control-label'}}) }}
                                {{ form_errors(edit_form.agemini) }}
                                <div class="col-sm-4">
                                    {{ form_widget(edit_form.agemini, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6">
                                {{ form_label(edit_form.agemaxi, "à : ", {'label_attr': {'class': 'col-xs-12 col-md-6 control-label'}}) }}
                                {{ form_errors(edit_form.agemaxi) }}
                                <div class="col-sm-4">
                                    {{ form_widget(edit_form.agemaxi, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>

                        <!-- end section age -->

                        <div class="form-group">
                            {{ form_label(edit_form.disabilityTypes, "Type de handicap : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                            {{ form_errors(edit_form.disabilityTypes) }}
                            <div class="col-sm-4">
                                {{ form_widget(edit_form.disabilityTypes, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.freeplace, "Nombre de places disponibles : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                            {{ form_errors(edit_form.freeplace) }}
                            <div class="col-sm-4">
                                {{ form_widget(edit_form.freeplace, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.organizationDescription, "Faites une description de votre structure : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                            {{ form_errors(edit_form.organizationDescription) }}
                            <div class="col-sm-4">
                                {{ form_widget(edit_form.organizationDescription, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <!-- end section who? -->

                    <!-- section we do what -->

                    <div class="col-xs-12 col-md-6 shadow-block">
                        <h3>On y fait quoi ?</h3>
                        <div class="form-group">
                            {{ form_label(edit_form.needs, "Types de services/besoins : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                            {{ form_errors(edit_form.needs) }}
                            <div class="col-sm-4">
                                {{ form_widget(edit_form.needs, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.serveDescription, "Que propose votre structure aux handicapés : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                            {{ form_errors(edit_form.serveDescription) }}
                            <div class="col-sm-4">
                                {{ form_widget(edit_form.serveDescription, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <!-- end section we do what -->

                </div>
                <div class="row">

                    <!-- section info -->

                    <div class="col-xs-12 col-md-6 shadow-block">
                        <h3>Infos pratiques</h3>
                        <div class="form-group">
                            {{ form_label(edit_form.name, "Nom de la structure : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                            {{ form_errors(edit_form.name) }}
                            <div class="col-sm-4">
                                {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.structuretype, "Type de structure : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                            {{ form_errors(edit_form.structuretype) }}
                            <div class="col-sm-4">
                                {{ form_widget(edit_form.structuretype, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.address, "Adresse : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                            {{ form_errors(edit_form.address) }}
                            <div class="col-sm-4">
                                {{ form_widget(edit_form.address, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.postal, "Code postal : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                            {{ form_errors(edit_form.postal) }}
                            <div class="col-sm-4">
                                {{ form_widget(edit_form.postal, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.city, "Ville : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                            {{ form_errors(edit_form.city) }}
                            <div class="col-sm-4">
                                {{ form_widget(edit_form.city, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.mail, "Mail : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                            {{ form_errors(edit_form.mail) }}
                            <div class="col-sm-4">
                                {{ form_widget(edit_form.mail, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.phoneNumber, "Téléphone : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                            {{ form_errors(edit_form.phoneNumber) }}
                            <div class="col-sm-4">
                                {{ form_widget(edit_form.phoneNumber, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.website, "Site web : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                            {{ form_errors(edit_form.website) }}
                            <div class="col-sm-4">
                                {{ form_widget(edit_form.website, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.facebook, "Compte facebook : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                            {{ form_errors(edit_form.facebook) }}
                            <div class="col-sm-4">
                                {{ form_widget(edit_form.facebook, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.twitter, "Compte twitter : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                            {{ form_errors(edit_form.twitter) }}
                            <div class="col-sm-4">
                                {{ form_widget(edit_form.twitter, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.openhours, "Horaires d'ouverture : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                            {{ form_errors(edit_form.openhours) }}
                            <div class="col-sm-4">
                                {{ form_widget(edit_form.openhours, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.opendays, "Jours d'ouverture : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                            {{ form_errors(edit_form.opendays) }}
                            <div class="col-sm-4">
                                {{ form_widget(edit_form.opendays, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <!-- end section info -->

                    <!-- section team -->

                    <div class="col-xs-12 col-md-6 shadow-block">
                        <h3>Quelle équipe ?</h3>
                        <div class="form-group">
                            {{ form_label(edit_form.teamMembersNumber, "Combien y-a-t-il de personnes dans votre équipe : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                            {{ form_errors(edit_form.teamMembersNumber) }}
                            <div class="col-sm-4">
                                {{ form_widget(edit_form.teamMembersNumber, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.stafforganizations, "Qui fait partie de votre équipe : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                            {{ form_errors(edit_form.stafforganizations) }}
                            <div class="col-sm-4">
                                {{ form_widget(edit_form.stafforganizations, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.teamDescription, "Autres informations: ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                            {{ form_errors(edit_form.teamDescription) }}
                            <div class="col-sm-4">
                                {{ form_widget(edit_form.teamDescription, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <!-- end section team -->
                </div>
            </div>
        </div>

        <!-- end section essential -->

        <!-- section more -->

        <div class="more">
            <h2>En savoir plus</h2>
            <div class="form-group">
                {{ form_label(edit_form.workingDescription, "Organisation de la structure : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                {{ form_errors(edit_form.workingDescription) }}
                <div class="col-sm-4">
                    {{ form_widget(edit_form.workingDescription, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_label(edit_form.school, "Scolarisation : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            {{ form_errors(edit_form.school) }}
            <div class="col-sm-4">
                {{ form_widget(edit_form.school, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(edit_form.schoolDescription, "Organization de la scolarité : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            {{ form_errors(edit_form.schoolDescription) }}
            <div class="col-sm-4">
                {{ form_widget(edit_form.schoolDescription, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(edit_form.activities, "Quelles activités sont proposées : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            {{ form_errors(edit_form.activities) }}
            <div class="col-sm-4">
                {{ form_widget(edit_form.activities, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(edit_form.placeDescription, "Description des locaux et des espaces extérieurs : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            {{ form_errors(edit_form.placeDescription) }}
            <div class="col-sm-4">
                {{ form_widget(edit_form.placeDescription, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <input type="submit" value="Créez" />
    {{ form_end(edit_form) }}
        {% if is_granted('ROLE_SOC') %}
        <li>
            <a href="{{ path('society_index') }}">Retour à votre fiche societé</a>
        </li>
        {% elseif is_granted('ROLE_ORG') %}
        <li>
            <a href="{{ path('organizations_index') }}">Retour à votre fiche</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="supprimer">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
