{% extends 'base.html.twig' %}

{% block body %}
    <h1>Organizations list</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Code Postal</th>
                <th>Ville</th>
                <th>Téléphone</th>
                <th>Mail</th>

            </tr>
        </thead>
        <tbody>
        {% for organization in organizations %}
        {% if organization.userOrg.id == app.security.getToken().getUser().getId()  %}

        <tr>
                <td><a href="{{ path('organizations_show', { 'id': organization.id}) }}">{{ organization.name }}</a></td>

                <td>{{ organization.address }}</td>
                <td>{{ organization.postal }}</td>
                <td>{{ organization.city }}</td>
                <td>{{ organization.phoneNumber }}</td>
                <td>{{ organization.mail }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('organizations_show', { 'id': organization.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('organizations_edit', { 'id': organization.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('organizations_new') }}">Créez votre fiche</a>
        </li>
    </ul>


{% endblock %}
