{% extends 'base.html.twig' %}

{% block body %}
    <h1>Organization</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ organization.id }}</td>
            </tr>
            <tr>
                <th>Organizationname</th>
                <td>{{ organization.name }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ organization.adress }}</td>
            </tr>
            <tr>
                <th>Postal</th>
                <td>{{ organization.postal }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ organization.city }}</td>
            </tr>
            <tr>
                <th>Organizationphonenumber</th>
                <td>{{ organization.organizationPhoneNumber }}</td>
            </tr>
            <tr>
                <th>Organizationmail</th>
                <td>{{ organization.organizationMail }}</td>
            </tr>
            <tr>
                <th>Organizationwebsite</th>
                <td>{{ organization.organizationWebsite }}</td>
            </tr>
            <tr>
                <th>Organizationblog</th>
                <td>{{ organization.organizationBlog }}</td>
            </tr>
            <tr>
                <th>Organizationfacebook</th>
                <td>{{ organization.organizationFacebook }}</td>
            </tr>
            <tr>
                <th>Organizationtwitter</th>
                <td>{{ organization.organizationTwitter }}</td>
            </tr>
            <tr>
                <th>Agegroup</th>
                <td>{{ organization.agegroup }}</td>
            </tr>
            <tr>
                <th>Freeplace</th>
                <td>{{ organization.freeplace }}</td>
            </tr>
            <tr>
                <th>Organizationdescription</th>
                <td>{{ organization.organizationDescription }}</td>
            </tr>
            <tr>
                <th>Servedescription</th>
                <td>{{ organization.serveDescription }}</td>
            </tr>
            <tr>
                <th>Openhours</th>
                <td>{{ organization.openhours }}</td>
            </tr>
            <tr>
                <th>Opendays</th>
                <td>{{ organization.opendays }}</td>
            </tr>
            <tr>
                <th>Teammembersnumber</th>
                <td>{{ organization.teamMembersNumber }}</td>
            </tr>
            <tr>
                <th>Teamdescription</th>
                <td>{{ organization.teamDescription }}</td>
            </tr>
            <tr>
                <th>Updatedatetime</th>
                <td>{% if organization.updateDatetime %}{{ organization.updateDatetime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Workingdescription</th>
                <td>{{ organization.workingDescription }}</td>
            </tr>
            <tr>
                <th>School</th>
                <td>{% if organization.school %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Schooldescription</th>
                <td>{{ organization.schoolDescription }}</td>
            </tr>
            <tr>
                <th>Activities</th>
                <td>{{ organization.activities }}</td>
            </tr>
            <tr>
                <th>Placedescription</th>
                <td>{{ organization.placeDescription }}</td>
            </tr>
            <tr>
                <th>Doc</th>
                <td>{{ organization.doc }}</td>
            </tr>
            <tr>
                <th>Profilpicture</th>
                <td>{{ organization.profilPicture }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('organizations_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('organizations_edit', { 'id': organization.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
