{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/organizations.css') }}">

{% endblock %}

{% block body %}

    <!--  bloc container --------------------------------------->
    <div class="head-img"></div>

   <div class="container main-block">

        <div class="container-info row">
            <!-- Block entete / titre----------------------------->
            <div class="head-block">
                <!-- date de mise a jour-->
                <div class="row "><p class="update">Dernière mise à jour le {{ organization.updateDatetime |date('Y-m-d') }}</p></div>
                <!-- titre/logo/favoris---------------------------------- -->
                <div class="row head">
                    <div class="head-title col-md-11 col-sm-11">
                        <h2 class="title"> {{ organization.societies.societyname }} de la pepete a zouzouille - {{ organization.name }} </h2>
                        <div class="img-block col-md-1 "><img class="organization-logo"  src="https://s27.postimg.org/ymj7zvrw3/Logo_OVEf_RVB_300x276.jpg" alt=""></div>
                    </div>
                    <!--<div class="like col-md-1 col-sm-1"><i class="fa fa-heart-o " aria-hidden="true"></i></div> --->
                </div>
            </div>
            <!-- caroussel----------------------------------------------------------->
            <div class="main-carousel">
                <div class="carousel">
                    <ul>
                        <li class="line-img"><img class="image" src="https://s23.postimg.org/k5yj75xe3/image.jpg" alt=""></li>
                        <li class="line-img"><img class="image" src="https://s28.postimg.org/xczbol3q5/image.jpg" alt=""></li>
                        <li class="line-img"><img class="image" src="https://s23.postimg.org/k5yj75xe3/image.jpg" alt=""></li>
                        <li class="line-img"><img class="image" src="https://s28.postimg.org/xczbol3q5/image.jpg" alt=""></li>
                        <li class="line-img"><img class="image" src="https://s23.postimg.org/k5yj75xe3/image.jpg" alt=""></li>
                    </ul>
                </div>
            </div>

            <!-- block essentiel----------------------------------->
            <div class="essential-block col-md-8">
                <!-- block adresse---------------------->
                <div class="info-block">
                    <div class="address">
                        <div class="line"><div class="icon-block"><i class="fa fa-home" aria-hidden="true"></i></div><p class="address-line">{{ organization.address }} {{ organization.postal }} {{ organization.city }}</p></div>
                        <div class="line"><div class="icon-block"><i class="fa fa-phone" aria-hidden="true"></i></div><p class="address-line">{{ organization.phoneNumber }}</p></div>
                        <div class="line"><div class="icon-block"><i class="fa fa-user" aria-hidden="true"></i></div><p class="address-line">Mr Handissimo</p></div>
                        <div class="line"><div class="icon-block"><i class="fa fa-envelope" aria-hidden="true"></i></div><a class="address-line address-link" href="mailto:{{ organization.mail }}" target="_blank">{{ organization.mail }}</a></div>
                        <div class="line"><div class="icon-block"><i class="fa fa-desktop" aria-hidden="true"></i></div><a class="address-line address-link" href="http://{{ organization.website }}" target="_blank">Site web</a></div>
                        <div class="line"><div class="icon-block"><i class="fa fa-commenting" aria-hidden="true"></i></div><a class="address-line address-link" href="http://{{ organization.blog }}" target="_blank">Blog</a></div>
                        <div class="line"><div class="icon-block"><i class="fa fa-facebook" aria-hidden="true"></i></div><a class="address-line address-link" href="http://{{ organization.facebook }}" target="_blank">Facebook</a></div>
                        <div class="line"><div class="icon-block"><i class="fa fa-twitter" aria-hidden="true"></i></div><a class="address-line address-link" href="http://{{ organization.twitter }}" target="_blank">Twitter</a></div>

                    </div>
                   <div class="description col-md-12"><p>{{ organization.organizationDescription|raw }}</p></div>
                    <div class="description col-md-12"><p>{{ organization.serveDescription|raw }}</p></div>
                </div>
            </div>
            <!-- ------------------ map --------------------------->
            <div class="col-md-4 map-block">
                <div class="map col-md-12" id="map">

                    <!--{% set array = {

                    'latitude': organization.latitude,
                    'longitude': organization.longitude,
                    } %}

                    {% set arrayjson2 = array|json_encode %}


                    <input type="hidden" class="arrayjson2" value="{{ arrayjson2 }}" />  -->

                </div>


                <div class="ressources col-md-12">
                    <!-- ---------download button ---------->
                    <a class="download" href="http://www.creativejuiz.fr/images/main.jpg" download="CreativeJuiz_Background">
                        <div class="line download-line">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            <p>Télécharger des documents</p>
                        </div>
                    </a>
                    <!-- -----------print button -------->
                    <a class="print" href="javascript:window.print()" download="CreativeJuiz_Background">
                        <div class="line print-line">
                            <i class="fa fa-print" aria-hidden="true"></i>
                            <p>Imprimer</p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- return button-->
            <div class="col-md-12">
                <div class="text-center btn-return">
                    <a href="#" class="btn-return-link">
                    <p class="return">Retour à la recherche</p>
                    </a>
                </div>
            </div>
        </div>

   </div>
    <script type="text/javascript" src="{{ asset ('js/googlemap.js')}}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT1ybqTsqE0Nzit6xL7PfZWcgnLmThfXc&callback=initMap">
    </script>

{% endblock %}
