<div class="col-md-offset-3 col-md-6">
{{ form_start(form, {'action': path('sonata_user_change_password')  }) }}
{{ form_errors(form) }}
{{ form_errors(form.current_password) }}
{{ form_widget(form.current_password, {'attr': {'class': 'form-control form2', 'placeholder': 'form.current_password'|trans({}, 'FOSUserBundle') ~' *' }}) }}
{{ form_errors(form.new.first) }}
{{ form_widget(form.new.first, {'attr': {'class': 'form-control form2', 'placeholder': 'form.new_password'|trans({}, 'FOSUserBundle') ~' *' }}) }}
{{ form_errors(form.new.second) }}
{{ form_widget(form.new.second, {'attr': {'class': 'form-control form2', 'placeholder': 'form.new_password_confirmation'|trans({}, 'FOSUserBundle') ~' *' }}) }}
<div id="pass">
    <button type="submit" class="btn btn-primary pull-right" id="btn-password">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
{{ form_end(form) }}
    <a href="{{ path('fos_user_profile_edit') }}" class="link-about">Retournez à votre profil</a>
</div>
</div>