{% extends 'SonataUserBundle::layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block sonata_page_breadcrumb %}
    {% if breadcrumb_context is not defined %}
        {% set breadcrumb_context = 'user_index' %}
    {% endif %}
    <div class="row-fluid clearfix">
        {{ sonata_block_render_event('breadcrumb', { 'context': breadcrumb_context, 'current_uri': app.request.requestUri }) }}
    </div>
{% endblock %}
{% block sonata_user_content %}
    {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
<div class="head-block"></div>
<div class="main-block container">
    <div class="row">
        <div class="col-md-12">

            <div class="title-block">
                <h2 class="password-title">{{ 'sonata_change_password_link'|trans({}, 'SonataUserBundle') }}</h2>
            </div>
        {% block sonata_profile_content %}
            {{ form_errors(form) }}
                {% include "SonataUserBundle:ChangePassword:changePassword_content.html.twig" %}
            <a href="{{ path('fos_user_profile_edit') }}">Retournez à votre profil</a>
        {% endblock sonata_profile_content %}
        </div>
    </div>
</div>
{% endblock %}
