{% extends 'SonataUserBundle::layout.html.twig' %}
{% block title %}{{ parent() }}mon compte{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block sonata_page_breadcrumb %}
    {% if breadcrumb_context is not defined %}
        {% set breadcrumb_context = 'user_index' %}
    {% endif %}
    <div class="row-fluid clearfix">
        {{ sonata_block_render_event('breadcrumb', { 'context': breadcrumb_context, 'current_uri': app.request.requestUri }) }}
    </div>
{% endblock %}

{% block sonata_user_content %}
    {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    <div class="head-block">
        {% if app.request.get('name')%}
        <p class="home-msg-profile">Bonjour, merci de participer à Handissimo ! Remplir ou compléter une fiche ne vous prendra que quelques minutes.
            Merci beaucoup par avance ! Pour toute difficulté, n’hésitez pas à nous <a href="{{ path('handissimo_contact') }}" id="link-profile">contacter</a>.</p>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-12 menu-block">
            <div class="title-block">
                <h2 class="title-menu">MENU</h2>
            </div>
            <div class="list-menu">
                <div class="button-block">
                    <a href="{{ path('sonata_user_profile_edit') }}">
                        <button class="list-button">Profil</button>
                    </a>
                </div>
                <div class="button-block">
                    <a href="{{ path('organizations_new') }}">
                        <button class="list-button">Créer une fiche</button>
                    </a>
                </div>
                <div class="button-block">
                    <a href="{{ path('handissimo_profile_search') }}">
                        <button  class="list-button">Rechercher une fiche</button>
                    </a>
                </div>
                <div class="button-block">
                    <a href="{{ path('handissimo_profile_solution') }}">
                        <button  class="list-button">Je suis une solution</button>
                    </a>
                </div>
                <div class="button-block">
                    <a href="{{ path('index_action') }}">
                        <button  class="list-button">Retour à l'accueil</button>
                    </a>
                </div>
            </div>
        </div>
        <div class=" col-md-9 col-xs-12 main-block-profil">
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="error-container">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        {{ flash_message }}
                    </div>
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashBag.get('edit') %}
                <div class="error-container">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        {{ flash_message }}
                    </div>
                </div>
            {% endfor %}
            {% block sonata_profile_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/statistic.js') }}"></script>
    <script src="{{ asset('js/profileSearch.js') }}"></script>
    <script src="{{ asset('js/validate.js') }}"></script>
{% endblock %}