{% extends "SonataUserBundle:Profile:action.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block title %}{{ parent() }}mon compte{% endblock %}
{% block sonata_profile_content %}
<div class="col-md-12 profil-block">
    <div class="title-block">
        <h2 class="profil-title">{{ "title_user_account" | trans({}, 'SonataUserBundle')}}</h2>
    </div>
    <div class="panel-body">
        <form action="{{ path('sonata_user_profile_edit') }}" method="POST" {{ form_enctype(form) }} class="form-horizontal">
            <div id="status-choice">
                {{ form_errors(form.usertype) }}
                {{ form_widget(form.usertype) }}
            </div>
            {{ form_errors(form.username) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control form2', 'placeholder': 'form.username'|trans({}, 'SonataUserBundle')}}) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control form2', 'placeholder': 'form.email'|trans({}, 'SonataUserBundle')}}) }}
            {{ form_rest(form) }}
            <button type="submit" name="submit"  class="btn btn-primary pull-right handissimo-button" id="btn-profile">{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}</button>
            {% render url("sonata_user_profile_edit_authentication") %}
        </form>
    </div>
</div>
{% endblock %}
