{% extends 'base.html.twig' %}

{% block body %}
<div class="container_fluid">
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <h1>Votre société</h1>
        </div>
    </div>
</div>
<div class="container_fluid">
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <table>
                <thead>
                    <tr>

                        <th>Nom de la société</th>
                        <th>Logo</th>
                        <th>Adresse</th>
                        <th>Code postal</th>
                        <th>Ville</th>

                    </tr>
                </thead>
                <tbody>
                {% for society in societies %}
                {% if society.userSociety.id == app.security.getToken().getUser().getId()  %}

                <tr>
                        <td>{{ society.societyName}}</td>
                        <td>{{ society.logo }}</td>
                        <td>{{ society.address }}</td>
                        <td>{{ society.postal }}</td>
                        <td>{{ society.city }}</td>
                            <ul>
                                <li>
                                    <a href="{{ path('society_show', { 'id': society.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('society_edit', { 'id': society.id }) }}">edit</a>
                                </li>
                            </ul>

                    </tr>

                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container_fluid">
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <h2>Liste de vos sociétés</h2>
        </div>
    </div>
</div>
<div class="container_fluid">
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <ul>
                {#}{ dump(societies.) }}
                    {% for org in orgs %}
                        {{ dump(org.societies.id) }}
                        {#% if org.societies.id == societies.id %}

                            <li><a href="{{ path('organizations_edit', { 'id': org.id}) }}">{{ org.name }}</a></li>
                         {% endif %}}
                    {% endfor %#}
            </ul>
        </div>
    </div>
</div>


    <ul>
        <li>
            <a href="{{ path('society_new') }}">Create a new society</a>
        </li>
    </ul>
{% endblock %}
