{% extends 'base.html.twig' %}

{% block body %}
    <h1>Society</h1>
<div class="container_fluid">
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <table>
                <tbody>
                    <tr>
                        <th>Nom de la société</th>
                        <td>{{ society.societyName }}</td>
                    </tr>
                    <tr>
                        <th>Logo</th>
                        <td>{{ society.logo }}</td>
                    </tr>
                    <tr>
                        <th>Addresse</th>
                        <td>{{ society.address }}</td>
                    </tr>
                    <tr>
                        <th>Code postal</th>
                        <td>{{ society.postal }}</td>
                    </tr>
                    <tr>
                        <th>Ville</th>
                        <td>{{ society.city }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

    <ul>
        <li>
            <a href="{{ path('society_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('society_edit', { 'id': society.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
